<ion-header>
  <ion-navbar>
    <ion-title>
      Fill the Item
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="addItemsForm">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" formControlName="itemTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Picture</ion-label>
      <ion-avatar item-end>
        <img src="{{ imgPreview }}" (click)="getPhoto()" width="50" style="float:right; border-radius: 100%;">
      </ion-avatar>
    </ion-item>
    <button ion-button (click)="submitForm()" type="submit">Add Item</button>
  </form>

  <ion-list *ngIf="imageObjects?.length > 0 || faceInImage.length > 0">
    <b *ngIf="imageObjects?.length > 0">The objects your image consists are:</b>
    <ion-item *ngFor="let item of imageObjects">
      <ion-row>
          <ion-col>
              <span>{{item.Name}}</span>
          </ion-col>
         <ion-col>
            <span>{{item.Confidence}}</span>
         </ion-col>
      </ion-row>
    </ion-item>
    <b>Faces detected in your image are: {{faceInImage?.length}}</b>
  </ion-list>
</ion-content>